[push]
	default = current
[user]
	name = Blue-Dog-Archolite
	email = blue.dog.archolite@gmail.com
[core]
	editor = nvim
	excludesfile = /home/rmeyer/.gitignore_global
[merge]
	tool = kdiff3
[mergetool]
	keepBackup = false
  prompt = false
[difftool]
  prompt = false
	tool = kdiff3

