[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
neovim = "*"
flake8 = "*"
jedi = "*"
psutil = "*"
pipenv = "*"
flower = "*"
pdb = "*"
coverage = "*"
jupyter = "*"
pipenv-package-requirements = "*"
ipython = "*"
pylint = "*"
